@import "node_modules/@bbva-web-components/bbva-foundations-sass/main";


col {

    .actions,
    .amount {
        width: .1%;
    }

    .main {
        width: 50%;
    }
}

.rest {
    color: red;
}

.plus {
    color: green;
}

.sr-only {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}